<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>YOUR-APP-NAME</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>YOUR-APP-NAME</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string></string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>REVERSED_CLIENT_ID (you get it from GoogleService-info.plist)</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<true/>
		<key>FirebaseScreenReportingEnabled</key>
		<true/>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>add-your-maindomain</key>
				<dict>
					<key>NSIncludesSubdomains</key>
					<true/>
					<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
					<true/>
					<key>NSTemporaryExceptionMinimumTLSVersion</key>
					<string>TLSv1.1</string>
				</dict>
			</dict>
		</dict>
		<key>NSAppleMusicUsageDescription</key>
		<string>This app requires</string>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>Bluetooth is required</string>
		<key>NSBluetoothPeripheralUsageDescription</key>
		<string>Bluetooth is required</string>
		<key>NSCalendarsUsageDescription</key>
		<string>This app requires</string>
		<key>NSCameraUsageDescription</key>
		<string>This app requires access to take the photo from camera</string>
		<key>NSContactsUsageDescription</key>
		<string>This app requires to contact delivery boy or owner of markets</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Localization is required to find where you are</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Localization is required to find where you are</string>
		<key>NSMotionUsageDescription</key>
		<string>This app requires</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app requires access to the photo library to support Chat Features.</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>Speech Recognition is required</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>io.flutter.embedded_views_preview</key>
		<string>YES</string>
	</dict>
</plist>
